- javascripts '@TestBundle/Resources/public/js/script.js' output='haml.js'
  %script(type="text/javascript" src=asset_url)

- stylesheets '@TestBundle/Resources/public/css/style.css'  output='haml.css'
  %link(rel="stylesheet" href=asset_url)
